<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page non trouvée</title>
    <link rel="stylesheet" href="/css/erreur.css">

</head>
<body>
    <div class="error-container">
        <h1>Erreur 404 - Page non trouvée</h1>
        <p id="errorMessage"></p>

        <script>
            // Récupérer le message d'erreur passé en tant que paramètre dans l'URL
            const errorMessage = new URLSearchParams(window.location.search).get('message');
            const errorMessageElement = document.getElementById('errorMessage');

            // Afficher le message d'erreur dans le paragraphe correspondant
            errorMessageElement.textContent = errorMessage;
        </script>
    </div>
</body>
</html>
