<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil Artiste</title>
    <link rel="stylesheet" href="/css/acceuilArtiste.css">
    <link rel="icon" href="image/logoCapChat.png" type="image/png">
</head>

<body>
    <div class="navbar">
        <a href="/accueil">Accueil</a>
        <a href="/information">Informations CapChat</a>
        <a href="/CreationCapChat">Créer CapChat</a>
        <a href="/Profile">Profile</a>
    </div>
    <h1>Bonjour <span id="username"></span></h1>
    <h2>Nom d'Artiste : <span id="artistName"></span></h2>
    <table id="capchatsTable">
        <thead>
            <tr>
                <th>Nom CapChat</th>
                <th>Nombre d'Images</th>
                <th>URL Utilisable</th>
                <th>Tester</th>
                <th>Modification</th>
            </tr>
        </thead>
        <tbody>
            <!-- Les lignes du tableau seront générées dynamiquement par JavaScript -->
        </tbody>
    </table>
    <script src="/js/acceuilArtiste.js"></script>

</body>

</html>