<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capchat</title>
    <link rel="icon" href="image/logoCapChat.png" type="image/png">

    <link rel="stylesheet" href="/css/capchat.css">
</head>

<body>
    <h1>Capchat</h1>
    <div class="timer" id="timer"></div>
    <div class="thermometer">
        <div class="thermometer-inner" id="thermometer-inner"></div>
    </div>
    <div class="question" id="question"></div>
    <div class="grid-container" id="image-container"></div>
    <script src="/js/capchat.js"></script>
</body>

</html>