<!DOCTYPE html>
<html>

<head>
    <title>Page de Connexion</title>
    <script src="/capchat/general.js"></script> <!-- Assurez-vous que le chemin est correct -->
    <link rel="stylesheet" href="/css/connexion.css">
    <link rel="icon" href="image/logoCapChat.png" type="image/png">

</head>

<body>
    <div class="login-container">
        <h1>Connexion</h1>
        <form action="/connexion" method="POST">
            <label for="uname"><b>Nom d'utilisateur</b></label>
            <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>

            <label for="psw"><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrer le mot de passe" name="password" required>

            <button type="button" id="capchat-btn">CapChat</button>
            <button type="submit" id="submit-btn" disabled>Se connecter</button>
        </form>
        <a href="/inscription">
            <button>s'inscrire</button>
        </a>
        <p><a href="#" id="forgot-password-link">Mot de passe oublié</a></p>
    </div>

    <!-- Fenêtre modale pour la réinitialisation du mot de passe -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Réinitialisation du mot de passe</h2>
            <form id="reset-password-form">
                <label for="reset-email-input">Adresse e-mail :</label>
                <input type="email" id="reset-email-input" required>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>

    <script src="/js/connexion.js"></script>
</body>


</html>