<!DOCTYPE html>
<html>

<head>
    <title>Page de Connexion</title>
    <script src="/capchat/general.js"></script> <!-- Assurez-vous que le chemin est correct -->
    <link rel="stylesheet" href="/css/connexion.css">
</head>

<body>
    <div class="login-container">
        <h1>Connexion</h1>
        <form action="/connexion" method="POST">
            <label for="uname"><b>Nom d'utilisateur</b></label>
            <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>

            <label for="psw"><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrer le mot de passe" name="password" required>

            <button type="button" id="capchat-btn">CapChat</button> <!-- Bouton pour lancer le CapChat -->
            <button type="submit" id="submit-btn" disabled>Se connecter</button>
            <!-- Bouton de connexion désactivé par défaut -->
        </form>
        <a href="/inscription">
            <button>s'inscrire</button>
        </a>
    </div>
    <script src="/js/connexion.js"></script>
</body>

</html>