<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./node_modules/jszip/dist/jszip.min.js"></script>
    <link rel="stylesheet" href="/css/creationCapChat.css">
    <title>Création de CaptChat</title>
    <link rel="icon" href="image/logoCapChat.png" type="image/png">

</head>

<body>
    <div class="navbar">
        <a href="/accueil">Accueil</a>
        <a href="/information">Informations CapChat</a>
        <a href="/CreationCapChat">Créer CapChat</a>
        <a href="/Profile">Profile</a>
    </div>
    <h1>Création de CaptChat</h1>
    <div id="modal"
        style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
        <div style="position: relative; margin: auto; top: 50%; width: 50px; height: 50px;">
            <div id="spinner"
                style="border: 16px solid #f3f3f3; border-top: 16px solid #3498db; border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite;">
            </div>
        </div>
    </div>

    <form id="creationForm" enctype="multipart/form-data">
        <label for="capchatName">Nom du CaptChat:</label>
        <input type="text" id="capchatName" name="capchatName" required>

        <label for="theme">Thème:</label>
        <select id="theme" name="theme" required>
        </select>

        <div id="nouveauThemeContainer" style="display: none;">
            <label for="nouveauTheme">Nouveau thème:</label>
            <input type="text" id="nouveauTheme" name="nouveauTheme">
        </div>

        <label for="images">Images ou fichier ZIP:</label>
        <input type="file" id="images" name="images" accept=".zip, .png, .jpg" multiple>

        <table id="imagesTable" style="display: none;">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Question</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <button type="submit">Enregistrer le CaptChat</button>
    </form>
    <script src="/js/creationCapChat.js"></script>
</body>

</html>