<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="image/logoCapChat.png" type="image/png">

    <title>CapChat - Page d'accueil</title>
</head>

<body>
    <div class="welcome-container">
        <h1>vous ête sur la page de Bienvenue de CapChat</h1>
        <div class="button-container">
            <button id="connect-button" href>Connexion</button>
            <button id="register-button">Inscription</button>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>