<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>CapChat - Page d'accueil</title>
</head>

<body>
    <div class="welcome-container">
        <h1>vous ête sur la page de Bienvenue de CapChat</h1>
        <div class="button-container">
            <button id="connect-button" href>Connexion</button>
            <button id="register-button">Inscription</button>
        </div>

        <select id="url-usage-select">
            <!-- Les autres options seront ajoutées dynamiquement en JS -->
        </select>
        <button id="test-capchat-button">Tester un CapChat</button>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>