<!DOCTYPE html>
<html>

<head>
  <title>Informations CapChat</title>
  <link rel="stylesheet" href="/css/information.css">
  <link rel="icon" href="image/logoCapChat.png" type="image/png">

</head>

<body>
  <div class="navbar">
    <a href="/accueil">Accueil</a>
    <a href="/information">Informations CapChat</a>
    <a href="/CreationCapChat">Créer CapChat</a>
    <a href="/Profile">Profile</a>
  </div>

  <h1>Informations CapChat</h1>

  <h2>Teams de CapChat</h2>
  <table id="themeTable">
    <thead>
      <tr>
        <th>Nom du thème</th>
        <th>Nombre d'images</th>
        <th>URL d'usage du thème</th>
        <th>Ajouter au thème</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <h2>Tous les CapChat existants</h2>
  <table id="capChatTable">
    <thead>
      <tr>
        <th>Nom du CapChat</th>
        <th>Nombre d'images</th>
        <th>URL d'usage</th>
        <th>Tester</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script src="/js/information.js"></script>
</body>

</html>