<!-- inscription.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Inscription</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Inscription</h1>
  <form action="/inscription" method="POST">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="S'inscrire">
  </form>
  <a href="/connexion">
    <button type="button">Connexion</button>
  </a>
</body>
</html>
