<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Modifications CapChat</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/test.css">
    <script src="/js/test.js"></script>
    <link rel="icon" href="image/logoCapChat.png" type="image/png">

</head>

<body>
    <!-- menu.html -->
    <div class="navbar">
        <a href="/accueil">Accueil</a>
        <a href="/information">Informations CapChat</a>
        <a href="/CreationCapChat">Créer CapChat</a>
        <a href="/Profile">Profil</a>
    </div>

    <h1 id="capchatName"></h1>
    <button id="addImageButton">Ajouter une image</button>
    <table id="imagesTable">
        <tr>
            <th>Image</th>
            <th>Nom de l'image</th>
            <th>Question</th>
            <th>Actions</th>
        </tr>
    </table>
    <!-- Fenêtre modale pour ajouter une image -->
    <div id="addImageModal" class="modal">
        <!-- Le contenu de votre fenêtre modale existante...
       Notez que vous devez changer les id pour éviter les doublons. -->
        <div class="modal-content">
            <h2>Ajouter une image</h2>
            <!-- Le reste de votre code modal... -->
            <input type="text" id="addImageNameInput" placeholder="Nom de l'image">
            <input type="text" id="addQuestionInput" placeholder="Question">
            <input type="file" id="addImageFileInput" accept=".png,.jpg">
            <button id="addValidateButton">Valider</button>
            <button id="addCancelButton">Annuler</button>
        </div>
    </div>

    <!-- Fenêtre modale pour modifications -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h2>Modifier image</h2>
            <input type="file" id="imageFileInput" accept=".png,.jpg">
            <input type="text" id="imageNameInput" placeholder="Nom de l'image">
            <input type="text" id="questionInput" placeholder="Question">
            <button id="validateButton">Valider</button>
            <button id="cancelButton">Annuler</button>
        </div>
    </div>
</body>

</html>